@charset "utf-8";

body {
	font-family: "メイリオ",sans-serif;
	/*
	font-family: "メイリオ",serif;
	*/
	background-color: aliceblue;
}

img{
    width:100%;
}

#mainbox {
    margin: 10px auto;
    /*width: 80%;*/
    width: 1000px;
    background-color: white;
}

#wholetitle{
    width: 90%;
    height: 70px;
    margin: 10px auto;
}

#titlel{
	float: left;
	width: 18%;
	height: 80px;
	font-size: 50%;
	text-align: center;
}

#titler{
	float: right;
	width: 80%;
	height: 80px;
	font-size: 95%;
	text-align: center;
}


.nav {
    /* width: 750px; */
    width: 90%;
    height: 40px;
    margin: 0 auto;
    padding: 0; 
    display: flex;
}
.nav li {
    position: relative;
    list-style: none;
}
.nav li a {
    display: block;
    width: 180px;
    /*width: 90%*/
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 2.8;
    background: #9fb7d4;
    transition: 0.5s;
    text-decoration: none;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
.nav > li:hover > a {/*layer-1*/
    color: orange;
    background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
    color: olive;
    background: #afc6e2;
}
.nav li ul {
    top: 40px;
    left: -40px;
    position: absolute;
}
.nav li ul li {
    overflow: hidden;
    height: 0;
    transition: 0.2s;
}
.nav li ul li a {
    border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
    overflow: visible;
    height: 40px;
}
.nav li ul li ul {
    top: 0;
    left: 110px;
}
.nav li ul li ul:before {/*layer-2▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
}

/*-- TOP IMAGE --*/
#wholetopimg{
    margin:20px auto; 
    width: 85%;
    height: 330px;

    background-color: #FFF5EE;
    box-shadow: 0 0 5px 1px #ccc;
    border-radius: 10px;
/*
    background: #FFF;
    border: dashed 3px #6091d3;

   */
}

#topimg {
    margin: 10px 20px;
    width: 45%;
    float:left;
    text-align: center;
    font-size: 70%;
}



#group_topic{
    width: 80%;
    margin: 5px auto;
    text-align: center;	
}


/*-- ALL --*/
.secbox {
    margin-top: 10px auto;
}

/*-- MEMBER --*/
#membertable{
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

#membertable table{
    margin: 10px auto;
    border-spacing: 20px 0px;
    text-align: center;
}

#memberimg{
    width: 60%;
     margin: 10px auto;
    text-align: center;
}


/*-- RESEARCH --*/

.research_intro{
    width: 90%;
    height: 1200px;;
    margin: 10px auto;
}
.research_intro_txt{
    float: left;
    width: 58%;
}
.research_intro_img{
    font-size: 80%;
    width: 40%;
    float: right;
}



/*-- PUBLICATION --*/
#presentation{
    width: 90%;
    margin: 10px auto;
}
#presentation table{
    margin: 10px auto;
    border-spacing: 0px 0px;
    font-size: 70%;
    text-align: center;	
}
#presentation table tr:nth-child(odd){
  background-color: #eee
}
#presentation p{
    font-size: 70%
}


#thesis{
    width: 90%;
    margin: 10px auto;
}
#thesis table{
    margin: 10px auto;
    border-spacing: 0px 0px;
    font-size: 80%;
    text-align: center;	
}
#thesis table tr:nth-child(odd){
  background-color: #eee
}
#thesis p{
    font-size: 70%
}







#resfooter{
	margin-top: 50px;
}
#memfooter{
	margin-top: 50px;
}


#footer{
	margin-top: 100px;
	margin-left: 50px;
}

.clear {
	clear: both;
}


.setsumei {
	font-size: 80%;
	line-height: 180%;
}

